<mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>

<form fxLayout="column" [formGroup]="contactForm" novalidate style="margin: 10px">
  <mat-form-field>
    <mat-label> {{ 'Name' | translate }} </mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="contactForm.controls['name'].hasError('required')">
      First name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label> {{ 'Phone number' | translate }} </mat-label>
    <input matInput type="tel" formControlName="phoneNumber" />
  </mat-form-field>
  <mat-form-field>
    <mat-label> {{ 'Birthdate' | translate }} </mat-label>
    <input matInput type="date" formControlName="birthdate" />
  </mat-form-field>

  <mat-form-field>
    <mat-label> {{ 'Technologies' | translate }} </mat-label>
    <mat-select multiple formControlName="technologies">
      <mat-option *ngFor="let technology of TechnologyList" [value]="technology">
        {{ Technology[technology] }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<div fxLayout="row" fxLayoutGap="10px" style="margin: 10px">
  <button
    fxFlex
    *ngIf="isAddMode"
    [disabled]="contactForm.invalid"
    (click)="createContact()"
    mat-raised-button
    color="primary"
    type="button"
  >
    <mat-icon> create </mat-icon>
    {{ 'Create' | translate }}
  </button>
  <button
    fxFlex
    *ngIf="!isAddMode"
    [disabled]="contactForm.invalid"
    (click)="updateContact()"
    mat-raised-button
    color="primary"
    type="button"
  >
    <mat-icon> edit </mat-icon>
    {{ 'Edit' | translate }}
  </button>

  <a fxFlex *ngIf="contactForm.pristine" [routerLink]="['/contacts', 'list']" mat-raised-button type="button">
    <mat-icon> people </mat-icon>
    {{ 'Go to contact list' | translate }}
  </a>

  <a fxFlex *ngIf="contactForm.dirty" (click)="contactForm.reset()" mat-raised-button type="button">
    <mat-icon> reset </mat-icon>
    {{ 'Reset' | translate }}
  </a>
</div>
