<div *ngIf="state$ | async" fxLayout="column" fxLayoutGap="20px" style="margin-top: 20px">
  <div fxLayout="row" fxLayoutGap="10px">
    <button [routerLink]="['/contacts', 'create']" fxFlex mat-raised-button color="primary">
      <mat-icon> person_add </mat-icon>
      {{ 'Add new contact' | translate }}
    </button>

    <button (click)="loadData()" fxFlex mat-raised-button color="accent">
      <mat-icon> update </mat-icon>
      {{ 'Refresh' | translate }}
    </button>
  </div>

  <mat-progress-spinner *ngIf="(state$ | async).isLoading" mode="indeterminate"></mat-progress-spinner>

  <app-contact-table></app-contact-table>
</div>
